# HOW TO FIND THE DATATYPES WITH THE INPUT AND WHT CLASS IT IS

In [17]:
x = 9+5

In [18]:
type(x)

int

In [19]:
y = 15.36

In [20]:
type(y)

float

In [21]:
z = "adil shaikh"

In [22]:
type(z)

str

In [23]:
print(type(y))

<class 'float'>

In [24]:
print(type(z))

<class 'str'>

In [25]:
print(type(x))

<class 'int'>

# ADDITION :- INTEGERS , FLOAT , STRING

In [29]:
print(15+31+3)

49

In [28]:
print("adil"+"from"+"rizvi")

adilfromrizvi

In [27]:
print("adil"+" from"+" rizvi")

adil from rizvi

In [32]:
first_name = "Adil"
last_name = " Arisa"
first_name + last_name

'Adil Arisa'

In [36]:
student_name = "Adil"
"is a model"
student_name + " is a model"

'Adil is a model'

# how to add all datatypes with using operator

In [38]:
print("adil age" +is +18)

SyntaxError: invalid syntax (2890100142.py, line 1)

In [ ]:
so for adding string and integer togather we hv to use (,) instead of (+)

In [43]:
print("adil age" " is" ,18,)

adil age is 18

# single and double quotation

In [48]:
print('teacher said'+ " save your work")

teacher said save your work

# string format method . The following method can be appliead to string object

In [ ]:
CAPITALIZE() :- first alphabet will be capital

LOWER() :- use any dataform or its written in anyform if we use lowercase it will put allthings in small

UPPER() :- use any dataform or its written in anyform if we use lowercase it will put allthings in capital

SWAPCASE() :- capital into small ,small into capital

TILLLE() :-

In [49]:
print("adil IS a model.".capitalize())

Adil is a model.

In [50]:
print("Adil IS A Model.".lower())

adil is a model.

In [51]:
print("adil IS a model.".upper())

ADIL IS A MODEL.

In [52]:
print("adil IS a model.".swapcase())

ADIL is A MODEL.

# FORMATING STRING INPUT()

In [69]:
(fav_food) = input ("what is your fav food?:")
print (fav_food)

what is your fav food?:biryani
biryani

In [ ]:
so we hv to put the answer in above box . but we have to change the string format that is capitalize n
lower upper etc so we hv to write bove at the end like this form for eg. lower()

# FIX THE ERROR AND RUN THE CODE

In [1]:
supplies("pen,pencil,eraser")
print("PEN in supplies")

NameError: name 'supplies' is not defined

In [ ]:
so wht we hv put input like in lower or upper context for print we hv to use . wht we use for input text

In [3]:
supplies = ("pen,pencil,eraser")
print("pen in supplies")

pen in supplies

# writing code with input

In [6]:
person_name = input("Enter the name of perrson:")
contact_num = input("Enter the 10 num:")
email_id = input("Enter the email id:")
print("hello",person_name,"this is yr",contact_num,"and yr id",email_id)

Enter the name of perrson:adil
Enter the 10 num:9137532357
Enter the email id:adilshaikh79556@gmail.com
hello adil this is yr 9137532357 and yr id adilshaikh79556@gmail.com

In [7]:
print("flowe name")
flower_name = input()

flowe name
petal

In [8]:
print("i liked rose of",flower_name)

i liked rose of petal

In [9]:
type(flower_name)

str

In [10]:
print(type(flower_name))

<class 'str'>

# RULES FOR DEFINING A FUNCTION (check the notes for rules)

In [16]:
def own_statement():
    print("adil is fine enough".upper())
own_statement()

ADIL IS FINE ENOUGH

# FUNCTION WITH RETURN VALUE

In [27]:
def thousand_msg(phrase):
    thousand = phrase +" "+ phrase  
    return thousand
msg_1000x = thousand_msg("Adil")
print(msg_1000x)

Adil Adil

# FUNCTION PARAMETERS

In [2]:
def movie_name(phrase):
    print(phrase)
movie_name("shiddat")

shiddat

In [7]:
def birth_date(phrase):
    print(phrase.isalnum())
birth_date("Adil 15 , Ayesha 31")

False

In [11]:
def my_frnd(frnd = "bhai"):
    print(frnd.upper() + ".")
my_frnd("ali = farden = haroon = amaan")
my_frnd()

ALI = FARDEN = HAROON = AMAAN.
BHAI.

# FUNCTION WITH MULTI-PARAMETER

In [9]:
def class_schedule(period1 , period2):
    schedule = ("[P1]" + period1 + ",[P2]" + period2)
    return schedule

s_schedule = class_schedule("DATA SCIENTISTS"," MACHINE LANGUAGE")
print("schedule", s_schedule)

schedule [P1]DATA SCIENTISTS,[P2] MACHINE LANGUAGE

In [25]:
def battle_champion(player1 , player2 , player3 , player4 , player5 , player6 , player7 , player8 , player9 , player10 , player11):
    player = ("[ADIL]" + player1 + ",[HAROON]" + player2 + ",[AYAN]" + player3 + ",[SALMAN]" + player4  + ",[ALI]" + player5  + ",[YUSUF]" + player6  + ",[HASSAN]" + player7  + ",[ABDU]" + player8  + ",[ARFAT]" + player9  + ",[MAAZ]" + player10 + ",[AB]" + player11)
    return player

e_champion = battle_champion( "ALL-ROUNDER", " ALL-ROUNDER", " BATSMAN", " ALL-ROUNDER", " SPINNER/BATSMANS"," ALL-ROUNDER", " ALL-ROUNDER", " SPINNER/BATSMANS", " BATSMAN", " ALL-ROUNDER"," BATSMAN")
print("player", e_champion)

player [ADIL]ALL-ROUNDER,[HAROON] ALL-ROUNDER,[AYAN] BATSMAN,[SALMAN] ALL-ROUNDER,[ALI] SPINNER/BATSMANS,[YUSUF] ALL-ROUNDER,[HASSAN] ALL-ROUNDER,[ABDU] SPINNER/BATSMANS,[ARFAT] BATSMAN,[MAAZ] ALL-ROUNDER,[AB] BATSMAN

# conditions use True or False & Pass: BOOLEAN Condition in Sequence

In [29]:
if True:
    print("rushda is frnd of adil")
else:
    print("not a frnd")

rushda is frnd of adil

# RULES :- AFTER IF AND ELSE CONDITION AT THE END WE HV TO [colon (:)]

In [31]:
if False:
    print("rushda is frnd of adil")
else:
    pass

# in pass condition ' if ' its true it will give output or 'if' false it will give move to next cell . refer above example

In [33]:
# condition with boolean string (if, else, pass)

In [36]:
student_council = input("Enter the Eligible critera")
if student_council.islower():
   print("minimum 3rd year, max to max 4th year")
else:
   print("not Eligible")

Enter the Eligible critera3rd and 4th year student
minimum 3rd year, max to max 4th year

In [ ]:
.isalpha()      }
.isalnum()      }
.isdegit()      }_______ STRING METHOD IN PYTHON
.istittle()     }
.islower()      }
.startswith()   }

# COMPARISON OPERATORS

In [ ]:
>
<
>=, <=
==
Assign = vs compare ==
!= not equal to

In [37]:
4>6

False

In [38]:
6<8

True

In [39]:
5<=5 , 6>=6

(True, True)

In [40]:
x = 5
x == 5

True

In [2]:
x = 6
if  True:
    print("x!=8")
else:
    print("x == 6")

x!=8

# string comparison

In [ ]:
alphabetically "A" is less than "B"

lowercase "a" is greater than uppercase "A"

In [3]:
"A"<"B"

True

In [5]:
"a">"A"

True

In [7]:
"a">"B"

True

In [2]:
answer = input("wht is 6+7")
if answer == 11 :
    print(answer,"is correct")
else:
    print(answer,"is not correct")

wht is 6+754
54 is not correct

# elif condition :- use as (ek k niche ek)

In [5]:
weather = input("Enter weather(sunny,rainy,snow)")
if weather.lower() == "sunny" :
    print("keep suncream with u")
elif weather.lower() == "rainy" :
    print("keep raincoat with u ")
elif weather.lower() == "snow" :
    print("keep leather jacket with u")
else:
    print("sorry, cant tell about weather")

Enter weather(sunny,rainy,snow)snow
keep leather jacket with u

# CASTING in python means how to add string int with '+' sign

In [9]:
x = '6'
y = 7
int(x) + y

13

# NESTED CONDITION: as many condition  can apply

   if
      if 
         if
         
         else
         
      else
      
   else

In [21]:
number = 15
if number >=15:
    if number <=15:
        print("number is a birth date of adil")
        
    else:
        print("it is not a birthdate of adil")
else:
    print("missing")

number is a birth date of adil

In [23]:
dress_style = input("c for cutton , s for silk")
if dress_style.lower() == "c" :
    dress_style = input ("g for green dress , b for blue dress")
    if dress_style.lower() == "b" :
        print("blue is perfect dress_style for adil")
    
    else:
        print("silk is better option")
        
else:
    print("blue wont suit adil")

c for cutton , s for silkc
g for green dress , b for blue dressb
blue is perfect dress_style for adil

# FORMATTING STRINGS USING ESCAPE SEQUENCES

ESCAPE SEQUENCES ALL START WITH A backslash(\)

ESCAPE SEQUENCES are part of special formatting characters
\t  Tab
\n return or newline

ESCAPE SEQUENCES can be used to display character in PYTHON REVERSED FOR FORMATTING

\'    SINGLE qoute (')
\"    double qoute (")

In [27]:
student_name = "Adil shaikh"            
print("student_name \nis a good boy")

student_name
is a good boy

In [28]:
stident_id = "adilshaikh795562@rizvi colege of engeenering"
print("studnt_id\t\t\tadilshaikh79556@eng.rizvi.edu.in")

studnt_id			adilshaikh79556@eng.rizvi.edu.in

In [ ]:
if u wanna use both SINGLE qoute (')   double qoute (") we hv to us use (\) backslash

In [29]:
print("\"qoutes is qoutes\"")
print("I\'ve said \"save your notebook,\" so let\'s do it")

"qoutes is qoutes"
I've said "save your notebook," so let's do it

# Increment Decrement Variable

In [ ]:
Increment variable

x = x + 1   OR  x += 1    we can run as many time with this

Decrement variable 

x = x + 1  OR x -= 1

In [32]:
x = 7
print(x)

7

In [35]:
x = x + 1
print(x)

10

In [38]:
x = x - 1
print(x)

7

In [42]:
candies_count = 0
while True:
    print("candies count:" , candies_count)
    candies_count += 1
    
    if candies_count > 8:
        break;

candies count: 0
candies count: 1
candies count: 2
candies count: 3
candies count: 4
candies count: 5
candies count: 6
candies count: 7
candies count: 8

In [ ]:
while loop with boolean comparison :- if we were not writing 'break' then we hv to us ecomparison sigh  '='

< , >
== , !=
<= , >=

In [8]:
candies_count = 0
while candies_count >= 0:
    print("candies count:" , candies_count)
    candies_count += 2
    
    if candies_count > 8:
        break;

candies count: 0
candies count: 2
candies count: 4
candies count: 6
candies count: 8